<div class="col-md-6 col-md-offset-3">
<h1>Editing task</h1>

<%= render 'form' %>
</div>

<div class="col-md-12 text-center">
<%= link_to 'Show', project_task_path(@project, @task) %> |
<%= link_to 'Back', :back %>
</div>