<div class="wrapper">
  <h1>Welcome to the Taskoholic</h1>

  <h2>The greateast project management system in universe</h2>

  <h3>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-success btn-lg" %>
  or
  <%= link_to "Login", new_user_session_path, class: "btn btn-primary btn-lg" %>
  </h3>
</div>